body{
  background-image: url(./assets/sky.jpeg);
  background-repeat: repeat-x repeat-y;
}

div{
  border: 4px solid white;
}

div .child-a,
div .child{
  border: 2px solid ghostwhite;
}

.parent{
  display:flex;
  background-color: darkgray;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.child{
  
  background-color: grey;
  height: 200px;
  width: 200px;
  margin: 10px;
  text-align: center;
  color: white;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 160px;
}

.child-a{
  
  background-color: grey;
  height: 200px;
  width: 200px;
  margin: 10px;
  text-align: center;
  color: white;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 160px;
}