body{
  background-image: url(./assets/sky.jpeg);
  background-repeat: repeat-x repeat-y;
}

.parent{
  display:flex;
  background-color: darkgray;
}

.child{
  flex: 1;
  background-color: grey;
  height: 200px;
  margin: 10px;
  text-align: center;
  color: white;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 160px;
}

.child-a{
  flex: 2;
  background-color: grey;
  height: 200px;
  margin: 10px;
  text-align: center;
  color: white;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 160px;
}