
button{
    font-family: Helvetica, "Times New Roman", sans-serif;
    font-size: 40px;
    margin: auto;
    padding: auto;
    height: 80px;
    width: 300px;
    size: 100px, 100px;
}

.dark{
    background-color: black;
    color: white;
}

.light{
    background-color: yellow;
}